.datatable .col {
    cursor: pointer;
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 0;
}